# 🔁 Віртуальне середовище
.venv/

# 🧠 PyCharm
.idea/
*.iml

# 🐍 Python кеш
__pycache__/
*.py[cod]

# ⚙️ Локальні конфіги
config_local.py

# 🧪 Jupyter (якщо будеш використовувати)
.ipynb_checkpoints/

# 🗂 Системні файли
.DS_Store
Thumbs.db
